@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --darker-tone: #073147;
  --dark-tone: #164863;
  --mid-high-tone: #427d9d;
  --mid-low-tone: #9bbec8;
  --lighter-tone: #ddf2fd;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 100vh auto 500px;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  overflow: hidden;
}
#bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-color: var(--darker-tone);
  clip-path: polygon(0 0, 100% 0, 100% 46%, 0% 100%);
  top: 0;
}
#walking-photo {
  max-width: 600px;
  height: 600px;
  justify-self: flex-end;
  box-shadow: 2px 8px 12px;
  transition: transform 0.3s ease;
  z-index: 1;
  animation: slide-down 1s ease;
  margin-left: 75px;
}
.walking-photo:hover {
  transform: translateY(-10px);
}
#autor-description {
  padding: 20px;
  box-shadow: 2px 6px 8px;
  gap: 40px;
  margin-right: 10%;
  background-color: white;
  display: flex;
  flex-direction: column;
  animation: slide-right 1.3s ease;
}
.spacer-display-none {
  display: none;
}
#autor-description h1 {
  font-size: 4rem;
  font-weight: 500;
}
#autor-description h2 {
  font-size: 1.2rem;
  font-weight: 100;
}
.socials {
  align-self: flex-end;
}
.socials-img {
  width: 60px;
  transition: transform 0.3s ease;
}
.socials-img:hover {
  transform: scale(1.2);
}

@keyframes slide-right {
  0% {
    transform: translateX(-300%);
  }
  70% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(0);
  }
}
/* HEADER */

/* MAIN */

#my-work-title {
  font-size: 3rem;
  display: grid;
  align-self: center;
  margin-left: 50px;
}
#projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
  justify-content: center;
  gap: 60px;
  padding: 60px;
}
.project-container {
  display: grid;
  grid-template-rows: 60% auto;
  box-shadow: 2px 6px 10px;
  transition: all 0.5s ease;
  min-height: 400px;
}
.project-container:hover {
  transform: translateY(-10px);
}
.project-screenshot {
  background-color: #429d89;
  display: grid;
  align-items: center;
  justify-content: center;
}
.project-screenshot p {
  color: white;
  font-size: 1.5rem;
}
.project-info {
  display: grid;
  grid-template-rows: 30% auto;
}
.project-info-top {
  display: grid;
  grid-template-columns: 70% auto;
  align-items: center;
}
.project-socials {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.project-info-top img {
  width: 35px;
}

.project-name {
  font-weight: 600;
  margin-left: 10%;
}

.project-description {
  font-weight: 400;
  margin-left: 7%;
}

/* footer */

footer {
  background-color: #073147;
  display: grid;
  grid-template-columns: 40% auto;
  color: white;
  padding: 60px;
  overflow: hidden;
  gap: 60px;
}
.author-info img {
  width: 50px;
  filter: brightness(0) invert(1);
}
.author-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.phone {
  display: flex;
  align-items: center;
  gap: 20px;
}
.email {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.image-container {
  background-image: url('../assets/keyboard.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 2px 8px 10px black;
  transition: all 0.3s ease-in-out;
}
.image-container:hover {
  transform: translateY(-10px);
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    grid-template-columns: none;
  }
  #walking-photo {
    width: 450px;
    height: auto;
    position: absolute;
    left: 10%;
    top: 7%;
    z-index: 2;
    margin-left: 0;
  }
  #autor-description {
    position: absolute;
    max-height: 450px;
    left: 24%;
    top: 24%;
    max-width: 700px;
    margin: 50px;
    gap: 0;
    display: block;
  }
  #autor-description .socials {
    display: none;
  }
  .empty-spacer {
    width: 300px;
    height: 250px;
    float: left;
  }
  #autor-description h1 {
    display: grid;
    justify-self: flex-end;
    align-self: center;
    font-size: 2rem;
  }
  #autor-description h2 {
    font-size: 1.2rem;
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 767px) {
  body {
    grid-template-rows: auto auto auto;
  }
  #bg {
    top: -20%;
    z-index: 1;
    transform: rotateX(50deg);
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  #walking-photo {
    max-width: 80%;
    height: auto;
    margin-top: 80px;
    z-index: 2;
    margin-left: 0;
  }
  #autor-description {
    gap: 20px;
    margin-top: 0px;
    margin-bottom: 60px;
    align-items: flex-end;
    margin-right: 0;
    box-shadow: none;
  }
  footer {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0;
  }
  .author-info {
    padding: 20px;
  }

  .image-container {
    width: 100%;
    height: 400px;
    border-radius: 0;
  }
}
